body {
    background-color: #072227;
}
.logo {
    border-radius: 10px;
    padding: 0;
}

.navbar {
    background: #072227;
    border-bottom: 2px solid #35858B;
    padding: 1px 20px;
}
.nav-item {
    font-family: "Montserrat";
    font-size: 18px;
    margin-left: 35px;
}

.nav-link {
    color: #AEFEFF;
    font-weight: 600;
}
.nav-link:hover {
    color: #4FBDBA;
}
.navbar-toggler-icon {
    background-color: #35858B;
    -webkit-mask: url(../images/bars-solid.svg) no-repeat center;
    mask: url(../images/bars-solid.svg) no-repeat center;
}

/*
.github-icon {
    background-color: whitesmoke;
    -webkit-mask: url(../images/github-brands.svg) no-repeat center;
    mask: url(../images/github-brands.svg) no-repeat center;
}*/

.social-medias {
    top: 50%;
    left: 20px;
    position: fixed;
    z-index: 100;
}

.social-medias .fab {
    font-size: 50px;
    color: #4FBDBA;
    padding-top: 5px;
}
.social-medias .fab:hover {
    color: #AEFEFF;
}

.col-12 {
    width: 0;
    padding: 3px;
}

.introduction {
    margin-bottom: 20px;

}
.intro-container {
    position: relative;
    font-size: 18px;
    /*color: #AEFEFF;*/
    color: whitesmoke;
    margin-top: 100px;
    font-family: Ubuntu, sans-serif;

}

.container-fluid {
    padding: 2% 10%;
}

.name {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}

.details {
    font-size: 22px;
}

.button-collection {
    display: flex;
    justify-content: right;
}

.btn-set1, .btn-set2 {
    color: #072227;
}

.btn-set1 {
    margin-right: 20px;
}

.btn-set1:hover, .btn-set2:hover {
    background-color: #AEFEFF;
    font-weight: 800;
}


/* about me section */
.about-section {
    padding-top: 10px;
}

.topic {
    color: #AEFEFF;
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 500;
    margin: 5px 0 10px 25px;
    width: 90%;
    border-bottom: 2px solid #35858B;
}

.sentence {
    color: whitesmoke;
    font-family: Ubuntu;
    font-size: 18px;
    margin: 20px 0 0 25px;
    text-align: left;
    width: 90%;
}

.my-photo {
    width: 250px;
}
.photo {
    border-radius: 100%;
    margin-top: 30px;
    margin-left: 80px;
}
/****************************************************/

/* skills section */

/* projects section */

/* contact section */
.contact-section {
    background: #044343;
}

.contact-section .sentence {
    text-align: center;
}

.contact-social-medias {
    margin: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
}
.contact-social-medias .logo-item-footer {
    font-size: 60px;
    margin: 20px;
}
/*******************************************************/

/* footer section */
footer {
    background-color: #0D7377;
    font-family: "Montserrat";
}
.footer-1, .footer-2{
    font-size: 13px;
}
.footer-logo {
    padding: -2px;
    border-radius: 10px;
    
}
.footer-link {
    color: #52c2ca;
}

.logo-item-footer {
    font-size: 35px;
    color: #52c2ca;
}
.logo-item-footer:hover, .footer-link:hover {
    color: #AEFEFF;
    text-decoration: none;
}

.footer .row {
    width: 100vw;
}
/*******************************************************/


/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .btn-set2 {
        float:right;
    }
    .button-collection {
        margin-left: 25px;
        justify-content: center;
    }

    .photo {
        width: 150px;
        margin: auto;
    }

    .my-photo {
        display:flex;
        justify-content: center;
        margin: auto;
        padding: 20px 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .button-collection {
        width: 90%;
        margin-left: 25px;
    }

    .btn-set1 {
        margin-right: 50px;
    }
}
