body {
    background-color: #072227;
}
.logo {
    border-radius: 10px;
    padding: 0;
}

.navbar {
    background: #072227;
    border-bottom: 2px solid #35858B;
    padding: 1px 20px;
}
.nav-item {
    font-family: "Montserrat";
    font-size: 18px;
    margin-left: 35px;
}

.nav-link {
    color: #AEFEFF;
    font-weight: 600;
}
.nav-link:hover {
    color: #4FBDBA;
}
.navbar-toggler-icon {
    background-color: #35858B;
    -webkit-mask: url(../images/bars-solid.svg) no-repeat center;
    mask: url(../images/bars-solid.svg) no-repeat center;
}

/*
.github-icon {
    background-color: whitesmoke;
    -webkit-mask: url(../images/github-brands.svg) no-repeat center;
    mask: url(../images/github-brands.svg) no-repeat center;
}*/

.social-medias {
    top: 50%;
    left: 20px;
    position: fixed;
    z-index: 100;
}

.social-medias .fab {
    font-size: 50px;
    color: #4FBDBA;
    padding-top: 5px;
}
.social-medias .fab:hover {
    color: #AEFEFF;
}

.col-12 {
    width: 0;
    padding: 3px;
}

/* header section */

.introduction {
    margin-bottom: 20px;

}
.intro-container {
    position: relative;
    font-size: 18px;
    /*color: #AEFEFF;*/
    color: whitesmoke;
    margin-top: 100px;
    font-family: Ubuntu, sans-serif;
}

.container-fluid {
    padding: 2% 10%;
}

.name {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}

.details {
    font-size: 22px;
}

.button-collection {
    display: flex;
    justify-content: right;
    padding-bottom: 30px;
}

.btn-set1, .btn-set2 {
    color: #072227;
    box-shadow: 0 9px #999;
}

.btn-set1 {
    margin-right: 20px;
}

.btn-set1:hover, .btn-set2:hover {
    background-color: #AEFEFF;
    box-shadow: 0 7px #666;
    transform: translateY(2px);
}

.btn-set1:active, .btn-set2:active {
    background-color: #AEFEFF;
    box-shadow: 0 5px #666;
    transform: translateY(5px);
}

/***************************************************/

/* about me section */
.about-section {
    padding-top: 30px;
    padding-bottom: 50px;
    background: #044343;
}

.topic {
    color: #AEFEFF;
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 500;
    margin: 5px 0 10px 25px;
    width: 90%;
    border-bottom: 2px solid #35858B;
}

.sentence {
    color: whitesmoke;
    font-family: Ubuntu;
    font-size: 18px;
    margin: 20px 0 0 25px;
    text-align: left;
    width: 90%;
}

.my-photo {
    width: 250px;
}
.photo {
    border-radius: 100%;
    margin-top: 30px;
    margin-left: 80px;
}
/****************************************************/

/* skills section */

.skills-section {
    background-color: #072227;
}

.skills-collection{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.skill-item {
    width: 130px;
    margin: 10px 5px;
}

.skill-icon {
    display:flex;
    justify-content: center;
}

.skill-icon > .fab {
    font-size: 100px;
    color: #AEFEFF;
}
.skill-icon-img {
    color: #AEFEFF;
    width: 100px;
}

.skill-name {
    color: whitesmoke;
    text-align: center;
    font-size: 15px;
}

.mysql {
    background-color: whitesmoke;
    -webkit-mask: url(../images/mysql.svg) no-repeat center;
    mask: url(../images/mysql.svg) no-repeat center;
    width: 200px;
}
/******************************************************/

/* projects section */

.projects-section {
    background-color: #072227;
}

.project-items {
    width: 95%;
    margin: 40px 0;
    margin-left: 10px;
}
.project-item {
    height: auto; 
    width: 100%; 
    /* background-color: #35858B;  */
    background: #044343;
    border-radius: 20px;
    margin: 0 auto 20px auto;
}
.project-imgs {
    margin: 1rem 0;
}

.project-img {
    width: 95%;
    border-radius: 10px;
    padding-bottom: 5px;
}

.project-img-more-space {
    margin: 1rem 0;
}

.project-description {
    width: 100%;
    font-family: Ubuntu, sans-serif;

    display: inline-block;
    margin-top: auto;
    margin-bottom:auto;
}

.project-title {
    font-size: 1.85rem;
    font-weight: bold;
    color: whitesmoke;
    border-bottom: 1px solid;
}

.project-sentence {
    margin-top: 1rem;
    font-size: 18px;
    color: whitesmoke;
}

.project-repo-link {
    margin: 2rem auto;
}

.project-repo-icon {
    width: 20px;
}

.project-repo-btn {
    font-size: 16px;
    height: 42px;
}
/******************************************************/

/* contact section */

.contact-section {
    background: #00454A;
}

.contact-section .sentence {
    text-align: center;
}

.contact-social-medias {
    margin: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
}
.contact-social-medias .logo-item-footer {
    font-size: 60px;
    margin: 20px;
}
/*******************************************************/

/* footer section */
footer {
    background-color: #0D7377;
    font-family: "Montserrat";
}

.footer-section > .row {
    width: 90%;
    margin-left: 10px;
}

.footer-1, .footer-2{
    font-size: 13px;
}
.footer-logo {
    padding: -2px;
    border-radius: 10px;
    
}
.footer-link {
    color: #52c2ca;
}

.logo-item-footer {
    font-size: 35px;
    color: #52c2ca;
}
.logo-item-footer:hover, .footer-link:hover {
    color: #AEFEFF;
    text-decoration: none;
}

.footer .row {
    width: 100vw;
}
/*******************************************************/


/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .btn-set2 {
        float:right;
    }
    .button-collection {
        margin-left: 25px;
        justify-content: center;
    }

    .photo {
        width: 150px;
        margin: auto;
    }

    .my-photo {
        display:flex;
        justify-content: center;
        margin: auto;
        padding: 20px 0;
    }

    .skill-icon > .fab {
        font-size: 50px;
    }

    .skill-icon-img {
        color: #AEFEFF;
        width: 50px;
    }

    .skill-item {
        width: 100px;
        margin: 10px 10px;
    }

    .project-items {
        margin-left: 20px;
    }
    .project-item {
        width: 100%;
        padding-top: 1rem;
    }
    .project-img, .project-img-more-space {
        width: 100%;
    }

    .project-img-more-space {
        margin-top: 0.5rem;
    }
    .project-title {
        font-size: 1.5rem;
    }
    .project-sentence {
        font-size: 1rem;
    }
    .project-description {
        margin-bottom: 1.5rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .button-collection {
        width: 90%;
        margin-left: 25px;
    }

    .btn-set1 {
        margin-right: 50px;
    }

    .project-description {
        padding-right: 2rem;
    }

    .project-img-more-space {
        margin-top: 0.5rem;
    }

    .project-description-more-space {
        margin-top: 1rem;
    }

    .project-item-more-space {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}


/***********************************************/
.coming-soon {
    font-size: 25px;
    color: #a3f9ff;
    font-family: ubuntu;
    font-weight: bold;
    text-align: center;
    line-height: 4;
    border: 3px solid #a3f9ff;
    margin: 40px auto;
    width: 250px;
}

.coming-soon:hover {
    background-color: #AEFEFF;
    color: #072227;
    border: 3px solid #35858B;
}
